doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    h1 漢字FREAK

    div.nav
      p
        | <a href='/'>Home</a>
        | <a href='/upload'>Upload a Script</a>

    div.content
      block content
