extends layout

block content
  script.
    $(document).ready(function() {
      $('.char').each(function(i, obj) {
        if (this.innerHTML.length < 2) {
          $(this).closest('div').hide();
        };
      });
    });

    function hideNonKanji() {
      $('.char').each(function(i, obj) {
        if (!(this.innerHTML[0] >= '\u4e00' && this.innerHTML[0] <= '\u9faf' ||
              this.innerHTML[0] >= '\u3400' && this.innerHTML[0] <= '\u4dbf'))
        {
          $(this).closest('div').hide();
        };
      });
    }

    function hideNonRoman() {
      $('.char').each(function(i, obj) {
        if (!(this.innerHTML[0] >= 'a' && this.innerHTML[0] <= 'z' ||
              this.innerHTML[0] >= 'A' && this.innerHTML[0] <= 'Z' ||
              this.innerHTML[0] >= '0' && this.innerHTML[0] <= '9'))
        {
          $(this).closest('div').hide();
        };
      });
    }


  div.center
    center
      p
        | <span class='highlight'>#{script.title}</span><br>
        | <span class='subdued'>Hiding single-character entries.<br>
        | <a href='javascript:hideNonKanji();'>Hide</a> non-kanji. <a href='javascript:hideNonRoman();'>Hide</a> non-Roman.</span>

    br
    each v in vocab
      div.vocab
        table
          tr
            td.vocab
              p.char #{v[0]}
            td
              p <span class='subdued'>Count:</span> #{v[1]}
