// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                     * // Content Areas //
body
    margin 0
    background repeating-linear-gradient(90deg, rgb(16,16,16), rgb(16,16,16) 20px, rgb(20,20,20) 20px, rgb(20,20,20) 40px)

div.nav
    position absolute
    top 102px
    left 0
    right 0

    padding 5px
    padding-left 40px

    background rgba(0,0,0,.5)
    border-bottom 1px rgba(50,100,150,.5) solid

div.nav p a
    padding 5px
    padding-left 15px
    padding-right 15px

div.nav p a:hover
    text-decoration none

    background rgba(150,100,250,.2)
    border-bottom 1px rgb(200,50,250) solid

div.content
    position absolute
    top 130px
    bottom 0
    left 0
    right 0
    overflow-y scroll

    background rgba(5,10,15,.5)

div.center
    margin-left 20%
    margin-right 20%
    padding-top 20px
    padding-bottom 20px

div.kanji, div.vocab
    padding 5px
    margin-bottom 3px

    background rgba(0,0,0,.2)
    border-bottom 2px rgba(0,0,0,.5) solid

div.kanji p.char, div.vocab p.char
    font-size 16pt


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                              * // Text //
h1
    margin 0
    padding-left 25px

    font 50pt 'Trebuchet MS'
    color rgb(20,20,20)

    -webkit-text-stroke 2px rgba(50,100,150,.5)
    text-shadow 10px 10px 0 rgba(100,150,200,.1)

p
    margin 0

    font 10pt Calibri
    color rgb(200,200,200)

p.modq, .highlight
    color rgb(250,200,50)

p.denied
    color rgb(250,100,50)

p.approved
    color rgb(150,250,50)

p.complete
    color rgba(255,255,255,.5)

pre
    font 9pt Calibri
    color rgba(255,255,255,.8)

a
    color rgb(100,150,200)
    text-decoration none

a:hover
    text-decoration underline

.header
    font-weight bold
    text-decoration underline

.important
    padding 3px

    font-size 9pt
    font-weight bold

    background rgba(250,50,0,.2)
    border 1px rgb(250,50,0) solid
    border-radius 3px

.subdued
    color rgba(255,255,255,.5)


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                            * // Tables //
table
    width 100%
    border-collapse collapse

tr:nth-child(even)
    background rgba(255,255,255,.05)

tr.header td p
    font-weight bold

td
    padding-left 5px

td.kanji
    width 50px

td.vocab
    width 200px


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                             * // Forms //
input[type='text'], input[type='submit'], select
    margin-top 5px

    padding 3px
    padding-right 50px

    background rgba(0,0,0,.2)
    border 1px rgba(50,100,150,.5) solid

    color white
    font 10pt Calibri

input[type='text']
    width 50%
    padding-left 7px

input[type='submit'], input[type='file']
    margin-top 5px

    color white
    font 10pt Calibri

input[type='submit']
    padding 5px
    padding-left 30px
    padding-right 30px

input[type='text']:hover, select:hover
    border 1px rgb(50,100,150) solid

input[type='submit']:hover
    background rgba(250,150,50,.2)
    border 1px rgb(250,150,50) solid

    cursor pointer

option
    background black
