// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                     * // Content Areas //
body
    background repeating-linear-gradient(90deg, rgb(16,16,16), rgb(16,16,16) 20px, rgb(20,20,20) 20px, rgb(20,20,20) 40px)


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                              * // Text //
h1
    margin 0

    font 50pt 'Trebuchet MS'
    color rgb(20,20,20)
    -webkit-text-stroke 2px rgba(50,100,150,.5)

p
    margin 0

    font 10pt Calibri
    color rgb(200,200,200)

a
    color rgb(100,150,200)
    text-decoration none

a:hover
    text-decoration underline
