body {
  margin: 0;
  background: repeating-linear-gradient(90deg, #101010, #101010 20px, #141414 20px, #141414 40px);
}
div.nav {
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  padding: 5px;
  padding-left: 40px;
  background: rgba(0,0,0,0.5);
  border-bottom: 1px rgba(50,100,150,0.5) solid;
}
div.nav p a {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
div.nav p a:hover {
  text-decoration: none;
  background: rgba(150,100,250,0.2);
  border-bottom: 1px #c832fa solid;
}
div.content {
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background: rgba(5,10,15,0.5);
}
div.center {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.kanji,
div.vocab {
  padding: 5px;
  margin-bottom: 3px;
  background: rgba(0,0,0,0.2);
  border-bottom: 2px rgba(0,0,0,0.5) solid;
}
div.kanji p.char,
div.vocab p.char {
  font-size: 16pt;
}
h1 {
  margin: 0;
  padding-left: 25px;
  font: 50pt 'Trebuchet MS';
  color: #141414;
  -webkit-text-stroke: 2px rgba(50,100,150,0.5);
  text-shadow: 10px 10px 0 rgba(100,150,200,0.1);
}
p {
  margin: 0;
  font: 10pt Calibri;
  color: #c8c8c8;
}
p.modq,
.highlight {
  color: #fac832;
}
p.denied {
  color: #fa6432;
}
p.approved {
  color: #96fa32;
}
p.complete {
  color: rgba(255,255,255,0.5);
}
pre {
  font: 9pt Calibri;
  color: rgba(255,255,255,0.8);
}
a {
  color: #6496c8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header {
  font-weight: bold;
  text-decoration: underline;
}
.important {
  padding: 3px;
  font-size: 9pt;
  font-weight: bold;
  background: rgba(250,50,0,0.2);
  border: 1px #fa3200 solid;
  border-radius: 3px;
}
.subdued {
  color: rgba(255,255,255,0.5);
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background: rgba(255,255,255,0.05);
}
tr.header td p {
  font-weight: bold;
}
td {
  padding-left: 5px;
}
td.kanji {
  width: 50px;
}
td.vocab {
  width: 200px;
}
input[type='text'],
input[type='submit'],
select {
  margin-top: 5px;
  padding: 3px;
  padding-right: 50px;
  background: rgba(0,0,0,0.2);
  border: 1px rgba(50,100,150,0.5) solid;
  color: #fff;
  font: 10pt Calibri;
}
input[type='text'] {
  width: 50%;
  padding-left: 7px;
}
input[type='submit'],
input[type='file'] {
  margin-top: 5px;
  color: #fff;
  font: 10pt Calibri;
}
input[type='submit'] {
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
input[type='text']:hover,
select:hover {
  border: 1px #326496 solid;
}
input[type='submit']:hover {
  background: rgba(250,150,50,0.2);
  border: 1px #fa9632 solid;
  cursor: pointer;
}
option {
  background: #000;
}
